/* TODO */
/*form, h1, .form-control, .form-group{*/
/*    text-align: center;*/
/*}*/
input::placeholder{
    font-style: italic;
}
select option{
	color: black;
}
select option:first-child {
	color: red;
}
.empty{
	color: red;
  	font-style: italic;
}
/* Hidden placeholder */
select option[disabled]:first-child {
	display: none;
}