.social a {
  padding: 20px;
  font-size: 7em;
}
.fa:hover {
    opacity: 0.7;
}
footer p:before{
    content: 'TOSSEV | 2019';
    visibility:visible;
}
iframe {
    padding: 3px;
}
article {
    text-align: justify;
    padding: 5em;
    padding-top: 0em;
}
.text-focus-in{
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;


}
#anime{
    font-size:20vw;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
