{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
<h1>Change password</h1>
    <form action="/change_password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="current-password" id="current-password" placeholder="Current password" type="text" >
            <div id="successAlert" class="alert alert success" role="alert" style="display:none"></div>
        </div>
        <div class="form-group">
            <input class="form-control" name="new-password" placeholder="New password" type="password" >
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm password" type="password" >
        </div>
        <button class="btn btn-primary" type="submit">CHANGE</button>
    </form>

{% endblock %}
