{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h1>History</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Stock</th>
                <th scope="col">Action</th>
                <th scope="col">Price</th>
                <th scope="col">Shares</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(0, length) %}
            <tr role="row">
                <td>
                    {{company[transactions[i]["share_id"]]}}
                    ({{symbols[transactions[i]["share_id"]]}})
                </td>
                <td>{{transactions[i]["action"]}}</td>
                <td>{{share_price[i]}}</td>
                <td>{{transactions[i]["share_count"]}}</td>
                <td>{{transactions[i]["date"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
