{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<h1>Sell</h1>
    <!--<form action="/sell" method="post">-->
    <!--    <div class="form-group">-->
    <!--        <input type="text" autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol">-->
    <!--    </div>-->
    <!--    <div class="form-group">-->
    <!--        <input type="text" autocomplete="off" class="form-control" placeholder="Number of shares" name="shares">-->
    <!--    </div>-->
    <!--    <button class="btn btn-primary" type="submit">SELL</button>-->
    <!--</form>-->

    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol">
                <option value="choose-stock" disabled selected>Choose stock</option>
                {% for i in range(0, length) %}
                    <option value="{{stock[i]}}">{{stock[i]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="text" autocomplete="off" class="form-control" placeholder="Number of shares" name="shares">
        </div>
        <button class="btn btn-primary" type="submit">SELL</button>
    </form>
{% endblock %}