{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <!--<h1>TRANSACTION COMPLETE</h1>-->
    <!--<h2>Info for your {{transaction}}</h2>-->
    <!--<p>You bought {{shares}} share from {{company}} for {{price}} each.</p>-->
    <!--<table class="table">-->
    <!--    <thead>-->
    <!--        <tr>-->
    <!--            <th scope="col">Company</th>-->
    <!--            <th scope="col">Number of shares</th>-->
    <!--            <th scope="col">Price per share</th>-->
    <!--            <th scope="col">Total price</th>-->
    <!--            <th scope="col">Money left</th>-->
    <!--        </tr>-->
    <!--    </thead>-->
    <!--    <tbody>-->
    <!--        <tr>-->
    <!--            <td>{{company}}</td>-->
    <!--            <td>{{shares}}</td>-->
    <!--            <td>{{price}}</td>-->
    <!--            <td>{{total}}</td>-->
    <!--            <td>{{money_left}}</td>-->
    <!--        </tr>-->
    <!--    </tbody>-->
    <!--</table>-->
    <!--{{test}}-->
    {{price}}
{% endblock %}
